* {
	box-sizing: border-box;
	margin: 0;
}
table {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.left_content {
	background-color: #f8efd4;
	vertical-align: top;
	width: 20%;
}
a {
	display: block;
}
.oneil_img {
	float: right;
}
h3 {
	text-align: center;
}
.right_content {
	background-color: burlywood;
}
h2 {
	color: #f39233;
}
.Menu {
	float: left;
}
.Menu h2 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.cas_img {
	float: right;
}

tr {
	vertical-align: top;
}
.adam_img {
	float: right;
}
